<div class="chat-container">
  <h1>{{ title }}</h1>

  <div class="messages-container" #messagesContainer>
    <div *ngFor="let message of messages"
        [ngClass]="message.creatorId == loggedProfileId ? 'sent' : 'received'">
      <app-single-message [message]="message"></app-single-message>
    </div>
  </div>

  <div class="input-container">
    <textarea [(ngModel)]="inputContent" placeholder="Unesite poruku"></textarea>
    <i class="fas fa-paper-plane send-icon" (click)="sendMessageUsingSocket($event)"></i>
  </div>

</div>
