<div class="container">
  <!-- Left Sidebar -->
  <div class="sidebar left-sidebar">
    <div class="heading-div">
      <span class="heading">Messages</span>
      <i class="fas fa-edit edit-icon" (click)="openChatModal()"></i>
    </div>
    <ul class="nav-links">
      <li *ngFor="let chat of chats" (click)="onChatClick(chat)">
        <i class="fas fa-users icon-chat"></i>
         <span class="title">{{ chat.title }}</span>
      </li>
    </ul>
    <ul class="nav-links dm-chats">
      <li *ngFor="let profile of profiles" (click)="onDmClick(profile)">
        <i class="icon-chat">
          <img class="profile-img" src="https://cdn.mos.cms.futurecdn.net/6qthjkVdbYkToB7upxRSkU.jpg" alt="Member 1">
        </i>
         <span class="title">{{ profile?.user?.name }} {{ profile?.user?.surname }}</span>
      </li>
    </ul>
    <div class="footer">
      <a href="/settings">
        <i class="icon-settings"></i> Settings
      </a>
    </div>
  </div>

  <!-- Main Content (Chat) -->
  <div class="main-content">
    <app-messages-chat
      [title]="clickedChatTitle ?? ' '"
      [chatId]="selectedChat?.id ?? 0"></app-messages-chat>
  </div>

  <!-- Right Sidebar -->
  <div class="sidebar right-sidebar">
    <div class="heading-div">
      <span class="heading">Chat Members</span>
      <!-- <button class="message-button">Change group name</button> -->
    </div>
    <ul class="nav-links" *ngIf="selectedChat">
      <!-- <li *ngFor="let member of selectedChat.members"> -->
      <li *ngFor="let member of chatProfiles">
        <i class="icon-user">
          <img class="profile-img" src="https://upload.wikimedia.org/wikipedia/en/8/80/KK_Partizan_logo.svg" alt="Member 1">
        </i>
        <span *ngIf="member">{{ member.user?.name || 'Unknown' }} {{ member.user?.surname || 'Unknown'}} </span>
        <input
          *ngIf="member.id !== selectedChat!.adminProfileId"
          type="checkbox"
          class="round-checkbox"
          [ngClass]="loggedProfileId == selectedChat.adminProfileId ? 'enabled-input' : 'disabled-input'"
          [(ngModel)]="member.chatMember"
          (change)="addRemoveMember(member, $event)" />

          <p *ngIf="member.id == selectedChat!.adminProfileId" class="admin">Admin</p>

      </li>

      <!-- <li>
        <i class="icon-user">
          <img class="profile-img" src="https://upload.wikimedia.org/wikipedia/en/8/80/KK_Partizan_logo.svg" alt="Member 1">
        </i>
        Member 1
        <input type="checkbox" class="round-checkbox">
      </li>
      <li>
        <i class="icon-user">
          <img class="profile-img" src="https://upload.wikimedia.org/wikipedia/en/8/80/KK_Partizan_logo.svg" alt="Member 1">
        </i>
        Member 1
        <p class="admin">Admin</p>
      </li> -->
    </ul>
  </div>

  <div class="modal" *ngIf="showProfiles" (click)="closeModal()">
    <div class="follow-content" (click)="$event.stopPropagation()">
      <input type="text" class="title-input" [(ngModel)]="title"/>
      <span class="close" (click)="closeModal()">&times;</span>
      <div *ngIf="profiles.length !== 0">
          <div class="follower_list" *ngFor="let profile of profiles">
              <img src="https://www.vijesti.me/data/images/2021/07/08/11/5346463_1424218_ls.jpg" alt="Slika">
              <h2>{{profile.user?.email}}</h2>

              <input
                type="checkbox"
                class="round-checkbox"
                [(ngModel)]="profile.chatMember"
                (change)="onChatMemberChange(profile, $event)" />
          </div>
      </div>
      <h2 *ngIf="profiles.length === 0">This section is empty</h2>
      <button class="message-button group-btn" (click)="createChat()">Create group</button>
  </div>
</div>

</div>
