/* Osnovni stilovi za container */
.container {
  display: flex;
  flex-direction: row; /* Raspoređuje sadržaj horizontalno */
  height: 100vh; /* Visina celog ekrana */
}

/* Heading stilovi */
.heading-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heading {
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
}

.edit-icon {
  font-size: 24px;
}

/* Sidebar stilovi */
.sidebar {
  width: 400px;
  background-color: #e2e2e2;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Left Sidebar */
.left-sidebar {
  margin-right: 20px; /* Razmak između leve strane i glavnog sadržaja */
}

/* Right Sidebar */
.right-sidebar {
  margin-top: 0;
  margin-left: 20px; /* Razmak između glavnog sadržaja i desne strane */
}

/* Glavni sadržaj između dva sidebara */
.main-content {
  flex-grow: 1; /* Ovaj element će zauzeti preostali prostor */
}

/* Stilovi za nav-links */
.nav-links {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.nav-links li {
  margin: 20px 0;
  border-bottom: 1px solid #fff; /* Dodaje liniju ispod svake stavke */
  padding-bottom: 10px; /* Prostor između teksta i linije */
}

.nav-links li:last-child {
  border-bottom: none; /* Uklanja liniju ispod poslednje stavke */
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav-links i {
  margin-right: 10px;
}

/* Footer stilovi */
.footer {
  margin-top: auto;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer i {
  margin-right: 8px;
}

/* Stilizovanje dugmeta unutar heading-div */
.heading-div button {
  background-color: #512da8; /* Pozadina dugmeta u zelenoj boji */
  color: white; /* Tekst dugmeta u beloj boji */
  border: none; /* Uklanja ivicu dugmeta */
  padding: 10px 20px; /* Razmak oko teksta unutar dugmeta */
  font-size: 18px; /* Veličina teksta */
  cursor: pointer; /* Menja pokazivač miša u rukavicu kada se pređe preko dugmeta */
  border-radius: 5px; /* Zaobljeni ivice dugmeta */
  transition: background-color 0.3s ease; /* Efekat prelaza kada se menja pozadina */
}

/* Efekat kada se pređe mišem preko dugmeta */
.heading-div button:hover {
  background-color: #0056b3; /* Tamnija zelena pozadina pri hover-u */
}
.nav-links li {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikalno poravnanje slike i imena */
  margin-bottom: 10px; /* Razmak između stavki */
  font-size: 22px;
}

.nav-links .icon-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Razmak između slike i imena */
}

.nav-links .profile-img {
  width: 70px; /* Veličina slike */
  height: 70px; /* Veličina slike */
  border-radius: 50%; /* Okrugli oblik */
  object-fit: cover; /* Podesi sliku da popuni prostor bez izobličenja */
}
.nav-links li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links li input[type="checkbox"] {
  width: 24px; /* Veličina dugmeta */
  height: 24px;
  border-radius: 50%; /* Okruglo dugme */
  appearance: none; /* Uklanja podrazumevani izgled */
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  transition: background-color 0.3s, border 0.3s;
  border-color: #0056b3;
  margin-right: 30px;
}

.nav-links li input[type="checkbox"]:checked {
  background-color: #0056b3; /* Pozadina kada je označeno */
  border-color: #0056b3; /* Granica kada je označeno */
}

.nav-links li input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}
.admin{
  color: rgb(4, 113, 15);
  border: 1px solid rgb(4, 113, 15);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}
