<div class="body">
    <div class="header">
        <div class="user-info">
            <img src="https://5na5.rs/storage/2017/09/dusko-vujosevic.jpg" alt="">
            <div class="profile-info">
                <!-- <h2>{{profile.user?.name}} {{profile.user?.surname}}</h2> -->
            </div>
        </div>
        <div class="profile">

            <div>
              <span class="profile-text">{{profile.user?.name}} {{profile.user?.surname}}</span>
              <button *ngIf="!loggedUserProfile && !followedByLoggedUser" (click)="followUser()">Follow</button>
              <button *ngIf="!loggedUserProfile && followedByLoggedUser" (click)="unfollowUser()">Unfollow</button>
              <button *ngIf="!loggedUserProfile">Message</button>
            </div>
            <div class="profile-infos">
                <div class="profile-info">
                    <h1>{{profile.posts.length}}</h1>
                    <h2>Posts</h2>
                </div>
                <div class="profile-info" (click)="openFollowerModal(1)">
                    <h1>{{profile.user?.followersCount}}</h1>
                    <h2>Followers</h2>

                </div>
                <div class="profile-info" (click)="openFollowerModal(2)">
                    <h1>{{profile.user?.followingCount}} </h1>
                    <h2>Following</h2>
                </div>
            </div>
        </div>

        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
    </div>

   <div class="posts">
        <img *ngFor="let post of profile.posts" [src]="'../../../assets/images/' + post.image" alt="Post Image" (click)="openModal(post)">
   </div>

   <div class="modal" *ngIf="selectedPost" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close" (click)="closeModal()">&times;</span>
            <app-single-post [post]="selectedPost"></app-single-post>
        </div>
    </div>

    <div class="modal" *ngIf="showFollowers" (click)="closeModal()">
        <div class="follow-content" (click)="$event.stopPropagation()">
            <span class="close" (click)="closeModal()">&times;</span>
            <div *ngIf="followers.length !== 0">
                <div class="follower_list" *ngFor="let profile of followers">
                    <img src="https://www.vijesti.me/data/images/2021/07/08/11/5346463_1424218_ls.jpg" alt="Slika">
                    <h2 (click)="navigateToProfile(profile.id)">{{profile.user?.email}}</h2>
                    <button>Unfollow</button>
                </div>
            </div>
            <h2 *ngIf="followers.length === 0">This section is empty</h2>
        </div>
    </div>

</div>
