<div class="post-comments-container">
  <div class="post-container">
    <div class="post-header">

      <div class="post-author">
        <div>
          <span class="author-name" (click)="viewProfile()" style="cursor: pointer;">{{post.creatorName}}  {{post.creatorSurname}}</span>
        </div>
        <div  *ngIf="loggedProfileId === post.creatorProfileId" class="author-actions">
          <i  class="fas fa-edit edit-icon" (click)="editPost()"></i>
          <i class="fas fa-trash delete-icon" (click)="deletePost(post.id)"></i>
        </div>
      </div>
      <div class="post-date">
        <span>{{post.publishingDate}}</span>
      </div>
    </div>

    <div class="post-image">
      <img [src]="'../../../assets/images/' + post.image" alt="Post Image">
    </div>

    <div class="post-description">
      <p>{{post.description}}</p>
    </div>

    <div class="post-likes-comments">
      <div class="likes">
        <i class="like-icon fas fa-heart" [class.liked]="isLiked" (click)="likePost()"></i>
        <span class="like-count">{{post.likesCount}}</span>
      </div>
      <div class="comments">
        <span>{{ post.comments.length }} comments</span>
      </div>
    </div>
  </div>

  <div *ngIf="!showEditForm" class="comments-section-container">
    <div *ngIf="showCommentSection && comments.length > 0" class="comments-section">
      <div class="comments-list">
        <div *ngFor="let comment of comments"  class="comment">
          <app-single-comment [comment]="comment"></app-single-comment>
        </div>
      </div>
    </div>
    <app-comment-form class="comment-form"  (reloadComments)="onReloadComments()" [postId]="post.id"></app-comment-form>
  </div>

  <div *ngIf="showEditForm" class="comments-section-container">
     <app-update-post-form *ngIf="post" [postId]="post.id" [post]="post" (postUpdated)="onPostUpdated()" (toggleUpdateMenu)="onToggleUpdateMenu()"></app-update-post-form>
    </div>
</div>
