<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-up" >
            <form *ngIf="!isRegister && !loading" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <h1>Create Account</h1>
                <br>
            
                <input type="text" formControlName="name" placeholder="Name" required>
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                  <small *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</small>
                </div>
            
                <input type="text" formControlName="surname" placeholder="Surname" required>
                <div *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched">
                  <small *ngIf="registerForm.get('surname')?.errors?.['required']">Surname is required.</small>
                </div>
            
                <input type="email" formControlName="email" placeholder="Email" required>
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                  <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
                  <small *ngIf="registerForm.get('email')?.errors?.['email']">Enter a valid email.</small>
                </div>
            

                <div class="address">
                  <input type="text" formControlName="longitude" placeholder="Longitude" required readonly>
                  <div *ngIf="registerForm.get('longitude')?.invalid && registerForm.get('longitude')?.touched">
                    <small *ngIf="registerForm.get('longitude')?.errors?.['required']">Longitude is required.</small>
                  </div>
                  <input type="text" formControlName="latitude" placeholder="Latitude" required readonly>
                  <div *ngIf="registerForm.get('latitude')?.invalid && registerForm.get('latitude')?.touched">
                    <small *ngIf="registerForm.get('latitude')?.errors?.['required']">Latitude is required.</small>
                  </div>  
                  <button (click)="closeModal()">Address</button>
                </div>

                <input type="password" formControlName="password" placeholder="Password" required>
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                  <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
                  <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                </div>
            
                <input type="password" formControlName="checkPassword" placeholder="Password again" required>
                <div *ngIf="registerForm.get('checkPassword')?.invalid && registerForm.get('checkPassword')?.touched">
                  <small *ngIf="registerForm.get('checkPassword')?.errors?.['required']">Please confirm your password.</small>
                  
                </div>
                <small *ngIf="passwordMatchValidator()">Passwords do not match.</small> 
                <button type="submit">Sign Up</button>
            </form>
            <img *ngIf="loading" width="300" style="margin-top: 150px;" src="https://payload.cargocollective.com/1/10/339592/14075299/RabbitRun_final.gif" alt="Registration in progress...">
        </div>
        <div class="form-container sign-in" >
            <form *ngIf="!loading">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" name="email" [(ngModel)]="loginDetails.email" placeholder="Email">
                <input type="password" name="password"   [(ngModel)]="loginDetails.password" placeholder="Password">
                <small>{{loginErrorMessage}}</small>

                <a href="">→ Forget Your Password? ←</a>
                <button (click)="onLogin()">Sign In</button>
            </form>
            <img *ngIf="loading" width="300" style="margin-top: 150px;" src="https://payload.cargocollective.com/1/10/339592/14075299/RabbitRun_final.gif" alt="In progress...">
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" *ngIf="addLocation" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <app-map (mapClick)="addedLocation($event)"></app-map>
  </div>
</div>